
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Müşteri Adı</label>
        <input type="text" required="" name="MUSTERIAD" class="form-control" placeholder="Müşteri Adını Giriniz">
        
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Müşteri Soyadı</label>
        <input type="text" required="" name="MUSTERISOYAD" class="form-control" placeholder="Müşteri Soyadını Giriniz">
        
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

